<!DOCTYPE html>
<html lang="nl-BE">

<%- include("partials/header") %>

    <main class="container-fluid quizzMain">


        <section class="col-sm-12 col-lg-8 col-md-10 ">
            <section class="quizzContainer">
                <section class="quizzNav container-fluid">
                    <h1 class="mx-auto" style="font-size: 1.6rem; padding-top: 8px;">Blacklist</h1>
                </section>
                <section class="card biggerCardBlacklist align-items-center my-0 mx-0 w-100 blacklistmain">


                    <ul class="list-unstyled overFlowerList">
                        <% if (blacklisted.length> 0) { %>
                            <% blacklisted.forEach(bl=> { %>
                                <li class="my-2">
                                    <blockquote class="my-0">
                                        <%= bl.dialog %>
                                    </blockquote>
                                    <cite>
                                        <a href="<%= characters.find(char=> char.id === bl.character).wikiUrl %>"
                                            class="nav-link">
                                            <%= characters.find(char=> char.id === bl.character).name %>
                                    </cite>
                                    <a href="/Blacklist/<%= bl.id %>/Remove"><span class="bi bi-trash"></span></a>
                                    <a href="/quotes/blacklist/<%= bl.character %>" class="nav-link">All quotes</a>
                                    <p>Reason: <%= bl.reason %>
                                    </p>
                                </li>
                                <% }) %>
                                    <% } else { %>
                                        <li>
                                            <h1 class="my-2 text-center">Niets in Blacklist!</h1>
                                        </li>
                                        <% } %>
                    </ul>


                </section>


            </section>


        </section>

    </main>
    </body>


    <%- include("partials/footer") %>

</html>